{% extends "base.html" %}

{% block title %}
Main page
{% endblock %}

{% block content %}
<h1>Main page content</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Unde, nulla! Rem, cumque accusantium.</li>
<li>Odio asperiores labore et natus!</li>
<li>Est quaerat blanditiis facilis molestias.</li>
<li>Possimus magnam vero ab cumque.</li>
<li>Cum eum vel pariatur libero!</li>
<li>Laborum delectus quod voluptate quisquam.</li>
<li>Fuga officia atque ipsum sed!</li>
<li>Iure quasi accusamus saepe maiores.</li>
<li>Ad similique maiores fuga facere!</li>
<li>Porro fugit error illo perspiciatis?</li>
<li>Dolorem quam fugit dolores aperiam.</li>
<li>Aspernatur recusandae ducimus quae ut?</li>
<li>Autem quam sequi numquam velit!</li>
<li>Commodi aspernatur adipisci ab earum?</li>
<li>Sint optio blanditiis aliquid sed.</li>
<li>Suscipit quam neque eius illo.</li>
<li>Accusamus temporibus asperiores necessitatibus tenetur!</li>
<li>Velit architecto quisquam nostrum non?</li>
<li>Officiis dicta eligendi totam tempora.</li>
<li>Officiis delectus provident incidunt labore?</li>
<li>Animi ex neque eos doloremque.</li>
<li>Quisquam ea corrupti laudantium iusto.</li>
<li>Totam rerum quidem voluptatem saepe!</li>
<li>Error nobis fugiat corrupti dolorem.</li>
<li>Inventore nulla consequuntur molestias praesentium?</li>
<li>Facilis dolores vero et placeat.</li>
<li>Sed alias vitae accusantium tenetur?</li>
<li>Voluptas repellendus rerum labore possimus.</li>
<li>Maiores praesentium sit debitis nobis.</li>
<li>Repellat velit dolore quae tempora?</li>
<li>Suscipit, harum id! Unde, corrupti.</li>
<li>Impedit, ipsum. Laboriosam, repellendus quas.</li>
<li>Nam doloremque illo omnis perferendis.</li>
<li>Qui repellendus voluptatibus accusamus sunt?</li>
<li>Iste corporis similique culpa provident.</li>
<li>Adipisci aliquid voluptatibus provident sed!</li>
<li>Iste aliquid temporibus natus delectus.</li>
<li>Ut repudiandae est esse inventore.</li>
<li>Error quod expedita minus eius?</li>
<li>Consequatur officiis explicabo dignissimos neque?</li>
<li>Corporis veniam odit a quidem?</li>
<li>Iure excepturi distinctio magnam rem!</li>
<li>Non, debitis recusandae! Odio, facilis.</li>
<li>Et, a. Iusto, debitis deserunt.</li>
<li>Facilis repellendus delectus consectetur laborum?</li>
<li>Eaque optio accusamus eos dolores!</li>
<li>Adipisci deserunt consectetur vel beatae!</li>
<li>Cupiditate laboriosam consequatur consequuntur eaque.</li>
<li>Eos dolore harum omnis error?</li>
<li>Culpa sunt fugiat numquam cupiditate.</li>
<li>Praesentium laudantium reiciendis sapiente pariatur!</li>
<li>Sint, impedit? Ratione, quae similique?</li>
<li>Sequi corporis cumque esse quod.</li>
<li>Pariatur alias porro iusto dolorem.</li>
<li>Dicta nostrum accusamus autem illo.</li>
<li>Eveniet recusandae possimus dolor necessitatibus?</li>
<li>Magnam incidunt autem nesciunt debitis.</li>
<li>Mollitia id minima natus repudiandae.</li>
<li>Ad ullam beatae sed unde?</li>
<li>Optio, animi a? Id, rerum.</li>
<li>Delectus, cupiditate architecto. Earum, illo.</li>
<li>Voluptatum repellendus iste nostrum dolore?</li>
<li>Deserunt consequatur iste corporis magnam.</li>
<li>Voluptate vel dicta odio excepturi!</li>
<li>Magni sequi eius in cum?</li>
<li>Deserunt perspiciatis voluptates magnam assumenda.</li>
<li>Qui commodi atque consectetur impedit?</li>
<li>Quo, mollitia. Aspernatur, fuga voluptas!</li>
<li>Sunt deleniti omnis voluptates velit!</li>
{% endblock %}